

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* background-color: transparent; */
}

#ThreeBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#bruh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;     /* full-screen overlay */
  background-color: transparent;
  pointer-events: none; /* let clicks go through unless overridden */
  z-index: 1;

  display: flex;
  flex-direction: column;
}

#bruh > div {
  /* position: absolute; */
  
  left: 0;
  pointer-events: auto; /* only this div gets events */
}

#Resources_Buttons{
  top: 0;
  width: min(100%, 800px);
  aspect-ratio: 12/1;
  min-height: 7%;
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 5fr;
  border-radius: 0 0 7px 0;
}

#Button_Dropdown{
  width:  min(550px,40%);
  height: 90%;

  background-color: gray;
  position: relative;  
  display: flex;
  flex-direction: column;

  padding:min(0.75vw,0.75vh);
  padding-top: 0;

}

#inner_B_Dropdown{
  position: relative;
  /* bottom: min(0.75vw,0.75vh);
  top:0.5vw;
  right:0;
  left: 0; */
  margin-top: 0.5vw;
  /* margin-bottom: 0.5vw; */
  width: 100%;
  height: calc(100% - 0.5vw);
  overflow-y: scroll;  
  scrollbar-gutter: stable;
  scrollbar-color: black gray;
  scrollbar-width: thin;  
  /* EXTREMELY IMPORTANT, STOPS A HUGE BOX APPEARING FOR SOME REASON, YOU NEED GAP BETWEEN DIV AND THE SCTROLL BAR */
  padding-right: 1px;
  /* ---------------------------------------------------------------------------------------------------- */


  &::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }
}

#Title{
  margin:0;
  line-height: 1.25;
  padding:0;
  font-size: max(2.6vw,2.6vh);
  color:white
}

#TopButResHolder{
  display: grid;
  grid-template-rows: 1.3fr 2fr;
  padding:4px 4px 4px 0px;
  row-gap: 4px;
}

#Resources {
  /* grid-column: 1 / -1; Span all 7 columns */
  /* background: orange;  Example */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 4px;
  /* padding-left:4px; */
  /* padding-right: 4px; */
}

.ResourceBlock{
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  position: relative;
  background-color: rgb(98, 98, 98);
  border-radius: 4px;
}

.resource-tooltip {
  position: absolute;
  background: gray;  /* semi-transparent gray */
  color: white;
  padding: 0.4vw;
  border-radius: 4px;
  pointer-events: none; /* so it doesn't block mouse events */
  white-space: nowrap;
  z-index: 1000;
  display: none; /* hidden by default */
  font-size: max(1vw,1vh);
  line-height: max(1.2vw,1.2vh);
  /* width: 15vw; */
  /* max-width: 15vw; */
}

#TopBarButtonHolder{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 4px;
  padding:4px 4px 2px 4px;
  /* padding-right: 4px; */
}

canvas {
  position: absolute;
  /* top: 0; left: 0; */
  /* display: block; */
  width: 100%;
  height: 100%;
}

.TopBarBtn{
  background-color: rgb(188, 187, 187);
  border-radius: 6px;
}

.IconGeneral{
  /* height: 100%; */
  /* background-size: cover; */
  /* background-position: center; */
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.resourceText{
  /* background-color: transparent; */
  text-overflow: clip;
  overflow: hidden;
}

p{
  margin:0;
  line-height: 1.25;
  padding:0
}

@media (max-width: 800px) {
  #Button_Dropdown {
    /* width: 100%; */
    /* aspect-ratio: 1.75/1; */
    height: 40%;
    /* padding:min(0.75vw,0.75vh) */
  }
}
@media (max-width: 550px) {
  #Button_Dropdown {
    width: calc(100% - max(1.5vw,1.5vh));
    /* aspect-ratio: 1.75/1; */
    /* height: 40%; */
    padding:max(0.75vw,0.75vh);
    padding-top: 0;
  }
  #Resources_Buttons{
    border-radius: 0;
  }
  #TopBarButtonHolder{
    column-gap: 2px;
    padding-left:2px;
    padding-right: 2px;
  }
}



